.about__container{
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    column-gap: 64px;
}
.about__img{
    width: 350px;
    border-radius: 20px;
    justify-self: center;
}
.about__info{
    grid-template-columns: repeat(3, 140px);
    gap: 8px;
    margin-bottom: var(--mb-2);
}
.about__box{
    background: var(--container-color);
    border: 2px solid rgba(0, 0, 0, 0.1);
    border-radius: 12px;
    text-align: center;
    padding: 16px 20px;
}
.about__icon{
    font-size: 24px;
    color: var(--title-color);
    margin-bottom: var(--mb-0-5);
}
.about__title{
    font-size: 17px;
    font-weight: 900;
}
.about__subtitle{
    font-size: 14px;
}
.about__discription{
    padding: 0 64px 0 0;
    margin-bottom: var(--mb-0-5);
}


/* For large devices */
@media screen and (max-width: 992px) {
  .about__container{
    grid-template-columns: 1fr;
    row-gap: 40px;
  }
  .about__img{
    width: 220px;
  }
  .about__box{
    padding: 12px 8px;
  }
  .about__data{
    text-align: center;
  }
  .about__info{
    justify-content: center;
  }
  .about__discription{
    padding: 0 80px;
    margin-bottom: 32px;
  }
}

/* For medium devices */
@media screen and (max-width: 576px) {
    .about__info{
       grid-template-columns: repeat(3, 1fr);
      }
      .about__discription{
        padding: 0;
      }
}

/* For small devices */
@media screen and (max-width: 350px) {
    .about__info{
        grid-template-columns: repeat(2, 1fr);
       }
}
