.footer{
    background: var(--container-color);
    border-top: 2px solid rgba(0, 0, 0, 0.1);
}
.footer__container{
    padding: 32px 0 96px;
}
.footer__title,
.footer__link{
    color: var(--title-color);
    font-weight: 500;
}
.footer__title{
    text-align: center;
    margin-bottom: var(--mb-2);
}
.footer__link:hover{
    color: var(--title-color-dark);
}
.footer__list{
    display: flex;
    justify-content: center;
    column-gap: 24px;
    margin-bottom: var(--mb-2);
}
.footer__social{
    display: flex;
    justify-content: center;
    column-gap: 20px;
}
.footer__social-link{
    background: var(--title-color);
    color: var(--container-color);
    font-size: 20px;
    width: 40px;
    height: 45px;
    padding: 8px;
    border-radius: 8px;
}
.footer__social-link{
    background-color: var(--title-color-dark);
}
.footer__copy{
    display: block;
    margin-top: 72px;
    color: var(--title-color);
    text-align: center;
    font-size: var(--small-font-size);
}






